#itemCardContainer {
  width: 70%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus {
  border-bottom: 1px solid #fb8122 !important;
  box-shadow: 0 1px 0 0 #fb8122 !important;
}

label.active {
  color: #fb8122 !important;
}

textarea:focus {
  border-bottom: 1px solid #fb8122 !important;
  box-shadow: 0 1px 0 0 #fb8122 !important;
}

ul.dropdown-content.select-dropdown li span {
    color: #000; 
}

body {
  background-color: #b2b4b2;
}

#registerButton {
  width: 250px !important;
  margin: 50px;
}

#logInButton {
  width: 250px !important;
  color: black !important;
  margin: 50px;
}

.goToOtherPageFormLink {
  color: #fb8122;
}

.goToOtherPageFormLink:hover {
  color: #fafafa;
}

.alreadyHaveAccountText {
  font-weight: bold;
  text-align: center;
}

h4 {
  font-family: johnny-fever;
  text-align: center;
  font-size: 54px;
  font-weight: bold;
}

/* MATERIALIZE FORM CSS */

/* label color */
.input-field label {
  color: #000;
  font-weight: bold;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
  font-weight: bold;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  font-weight: bold;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  font-weight: bold;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  font-weight: bold;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
  font-weight: bold;
}
