@font-face {
  font-family: "videophreak";
  src: url(fonts/VideoPhreak.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "johnny-fever";
  src: url(fonts/johnny-fever.ttf);
  font-style: normal;
  font-weight: 100;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover { 
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* CHAT STYLES */
.chat-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #5E0565;
  height: 50px;
  font-size: 16px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  box-shadow: 1px 1px 4px 1px grey;
  cursor: pointer;
}

.form-container {
  height: 450px;
  border: 1px solid #5E0565;
  max-height: 25%;
}
.form-container h5 {
  padding: 10px;
  background-color: #5E0565;
  font-size: 20px;
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

.form {
  padding: 30px;
}

.input  {
  display: block;
  width: 100%;
  margin: 20px auto;
  height: 50px;
  font-size: 20px
}

.submit  {
  height: 40px;
  padding: 0 20px;
  background-color: #5E0565;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.Chat {
  position: fixed;
  right: 10px;
  bottom: 0;
  width: 350px;
  border:1px solid #ccc;
}

.form {
  padding: 30px;
}

.input  {
  display: block;
  width: 100%;
  margin: 20px auto;
  height: 50px;
  font-size: 20px
}

.submit  {
  height: 40px;
  padding: 0 20px;
  background-color: #5E0565;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.chatapp  {
  margin: 0 auto;
  height: 80vh;
  border: 1px solid #a1a1a4;
}

.header {
  padding: 20px;
  color: white;
  margin-top: 0;
  text-align: center;
  border-bottom: 1px solid #5E0565;
  background-color: #5E0565;
}

.message-list  {
  list-style-type: none;
  padding: 0px 20px;
  overflow: scroll;
  max-height: 300px;
  margin-bottom: 35px;
  background-color: #a1a1a4;
}

.message-sender  {
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}

.message-text  {
  margin-bottom: 20px;
  margin-top: 5px
}

.message-input  {
  width: 70%;
  height: 50px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  font-size: 18px;
  padding-left: 2px
}

.message-submit  {
  width: 30%;
  background-color: #5E0565;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.input-field {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}