/* .user-details {
    padding-top: 2em !important;
} */

.user-details ul li {
    font-size: 18px;
}

.avatar-wrapper {
    margin: 20px auto;
}

.account-header {
    background: #fb8122;
    padding: 5px 0;
    font-size: 2rem;
    margin-bottom: 0;
    font-family: johnny-fever;
}

.profile-card {
    margin-top: 0;
}

.profile-name {
    font-size: 18px;
}
