/* .post-header {
    width: 500px;
    margin: 0 auto;
    background-color: #fb8122;
} */

.edit-form-bg {
    padding: 3em 0;
    background-color: #fff;
}

.fileUploadDiv {
    width: 500px;
    margin: 0 auto;
}
