.itemCard {
    background-color: #fefefa;
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 250px;  
    border: solid #222 1px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 
    0 15px 12px rgba(0,0,0,0.22);
}

.itemCardInfoGroup {
    display: grid;
    align-content: space-between;
}

.itemCardImage {
    display: flex;
    overflow: hidden;
    align-content: center;
    align-items: center;
    border-right: solid #222 1px;
}

.itemCardImage img {
    max-width: 100%;
}

.buttonGroup {
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    max-height: 100%;
    min-height: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p.itemName {
    padding-left: 5px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: #fb8c00;
    font-family: johnny-fever;
}

.itemPriceLocationGroup {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p.itemPrice {
    max-height: 500%;
    width: 45%;
    font-size: 1.1rem;
}

p.itemLocation {
    max-height: 500%;
    width: 45%;
    font-size: 1.1rem;
}

p.itemDescription {
    padding: 0 5px;
    font-size: 1.1rem;
    max-height: 75px;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    margin: 0 12.5%;
}