.itemDetailsCard {
    margin-top: 0;
    margin-bottom: 30px;
    border: solid #222 1px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 
                0 15px 12px rgba(0,0,0,0.22);
}

.item-details-header {
    background-color: #fb8122;
    padding: 5px 10px !important;
    font-family: johnny-fever;
    
}

.itemDetailsNameText {
    font-size: 2.5rem;
    font-weight: bold;
}

.item-details-price {
    float: right;
}

.itemDetailsDateLocationDiv {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    text-decoration: underline;
}

.itemDetailsButton {
    font-weight: bold;
    border-top: none !important;
}
